
<header role="banner">
  <div class="site-content">
    <div class="header-bar">
      <a href="{{ site.baseurl }}/" class="home-link">
        <img src="{{ site.baseurl }}/assets/img/mnim.svg" alt="mynameismartin" height="128" width="128" />
      </a>

      <nav class="primary-navigation">
        <ul class="primary-navigation__list">
          <li><a href="{{ site.baseurl }}/about" rel="me">About</a></li>
          <li><a href="{{ site.baseurl }}/work/">Work</a></li>
          <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
        </ul>
      </nav>

      
  </div>
  <p class="message--redesign">Does this website look broken? I’m <a href="{{ site.baseurl }}/blog/a-new-start">redesigning in the open!</a></p>
</div>

</header>
