
<header role="banner">
  <div class="site-content">
  <a href="{{ site.baseurl }}/" class="home-link">Martin Wright &#8211; A friendly web designer from Shrewsbury</a>

  <nav >
    

    <ul>
      <li><a href="{{ site.baseurl }}/about" rel="me">About me</a>
      </li>
      <li><a href="{{ site.baseurl }}/work/">Work</a></li>
      <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
    </ul>
  </nav>

  <p>Why does this website look broken? I’m <a href="http://mynameismartin.com/blog/a-new-start">redesigning in the open!</a></p>

</div>

</header>
