@import 'reset';

//light mode colours
$blue: #146AC5;
$dark-blue: darken($blue, 15%);
$purple: #7D4ABF;
$dark-purple: darken($purple, 15%); 

//dark-mode colours
$blue--darkmode: desaturate(lighten($blue, 35%), 10%);
$dark-blue--darkmode: desaturate(lighten($dark-blue, 35%), 10%);
$purple--darkmode: desaturate(lighten($purple, 20%), 10%);
$dark-purple--darkmode: desaturate(lighten($dark-purple, 20%), 10%);

body {
  font-family: 'Inter',-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.33;
  @media screen and (prefers-color-scheme: dark) {
    background-color: #222;
    color: #f4f4f4;
  }
}

h1, h2, h3, h4, h5 {
  line-height: 1.15;
}

h1 {
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}


a {
  color: $blue;

  @media screen and (prefers-color-scheme: dark) {
    color: $blue--darkmode;
  }
  &:hover {
    color: $dark-blue;
    @media screen and (prefers-color-scheme: dark) {
      color: $dark-blue--darkmode;
    }
  }

  &:active {

  }

  &:focus {

  }

  &:visited {
    color: $purple;
    @media screen and (prefers-color-scheme: dark) {
      color: $purple--darkmode;
    }
    &:hover { 
      color: $dark-purple;
      @media screen and (prefers-color-scheme: dark) {
        color: $dark-purple--darkmode;
      }
    }
  }
}

.site-content {
  display: grid;
  grid-template-columns: 
    [full-start] minmax(1em, 1fr) 
    [main-start] minmax(0, 30em) [main-end]
    minmax(1em, 1fr) [full-end];
}

.site-content > * {
  grid-column: main ;
}

.site-content > .full {
  grid-column: full;
}

.post-meta {
  margin-top: 1rem;
}

footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@import 'header';
@import 'work';