@import 'reset';
@import 'typography';

//light mode colours
$blue: #146AC5;
$dark-blue: darken($blue, 15%);
$purple: #7D4ABF;
$dark-purple: darken($purple, 15%); 

//dark-mode colours
$blue--darkmode: desaturate(lighten($blue, 35%), 10%);
$dark-blue--darkmode: desaturate(lighten($dark-blue, 35%), 10%);
$purple--darkmode: desaturate(lighten($purple, 20%), 10%);
$dark-purple--darkmode: desaturate(lighten($dark-purple, 20%), 10%);

body {
  @media screen and (prefers-color-scheme: dark) {
    background-color: #222;
    color: #f4f4f4;
  }
}


a {
  color: $blue;

  @media screen and (prefers-color-scheme: dark) {
    color: $blue--darkmode;
  }
  &:hover {
    color: $dark-blue;
    @media screen and (prefers-color-scheme: dark) {
      color: $dark-blue--darkmode;
    }
  }

  &:active {

  }

  &:focus {

  }

  &:visited {
    color: $purple;
    @media screen and (prefers-color-scheme: dark) {
      color: $purple--darkmode;
    }
    &:hover { 
      color: $dark-purple;
      @media screen and (prefers-color-scheme: dark) {
        color: $dark-purple--darkmode;
      }
    }
  }
}

.site-content {
  display: grid;
  grid-template-columns: 
    [main-start] repeat(12, [col-start] 1fr) [main-end];
  max-width: 66em;
  padding:0 2em;
  margin: 0 auto;
}

.site-content > * {
  grid-column: main ;
}

.site-content > .wide {
  grid-column: full;
}

.site-content > .full {
  grid-column: full;
}

.post-meta {
  margin-top: 1rem;
}

footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.post-content hr,
.decorative-hr {
  display: block;
  height: 15px;
  width: 100%;
  border: 0;
  background-color: transparent;
  background-image: url('/assets/img/hr.png');
  background-repeat: no-repeat;
  background-size: 75px 15px;
  background-position: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  .post-content & {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.hoz-list {
  list-style-type: none outside none;
  padding: 0;
  li {
    display: inline-block;
    margin-right: 1em;
  }
}


@import 'header';
@import 'home';
@import 'work';
@import 'blog';

.shadow {
  box-shadow: rgba(36, 57, 88, 0.25) 0 0 39px;
}

.mt-s {
  margin-top: 1.5em;
}

.mt-m {
  margin-top: 3em;
}

.mt-l {
  margin-top: 5em;
}

.mt-xl {
  margin-top: 8em;
}

@media (min-width: 45em) {
  .work__excerpt {
    grid-column: col-start / span 7;
  }

  .work__detail-list {
    grid-column: col-start 10 / span 3;
  }

  .work__content-grid {
    grid-column: col-start / span 6;
  }

  .work__content-grid--end {
    grid-column: col-start 7 / span 6;
  }

  .work__content-grid--end--sm {
    grid-column:  col-start 6 / span 5;
  }


 

  .span-5--start {
    grid-column: col-start / span 5;
  }

  .span-5 {
    grid-column: col-start 8 / span 5;
  }

  .span-3 {
    grid-column: col-start 8 / span 3;
  }

  .span-3--start {
    grid-column: col-start 2 / span 3;
  }

  .span-all {
    grid-column: col-start / col-end;
  }

  .side-by-side {
    > p {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;
    }
  }
}
