---
layout: page
title: "Work"
permalink: "/work/"
---
<h2 class="tertiary-heading">What I'm working on at the moment</h2>
<h3 class="quarternary-heading">Present and near future</h3>
<ul>
  <li>Discovery and alpha of web-based fault reporting service for NHS staff</li>
  <li>A case management system for noise complaints</li>
  <li>Design and illustration of a research report for Comic Relief</li>
  <li>A redesigned interface for making new reports on FixMyStreet built primarily around mobile</li>
</ul>
<h3 class="quarternary-heading">Recent past</h3>
<ul>
  <li>A noise nuisance reporting tool</li>
  <li>A bin day finder and a collection of waste and recycling services</li>
  <li>Website design and front-end for <a href="https://www.climateassembly.uk">UK Parliaments citizens' assembly on climate change</a></li>
  <li>User research and design for <a href="https://www.mysociety.org/2020/07/24/whatdotheyknow-projects/">collaboration tools for WhatDoTheyKnow</a></li>
</ul>

<h2 class="tertiary-heading">Work from the distant past</h2>
<ul class="work__list">
  {% for work in site.work %}
    <li>
      <a href="{{ work.link }}">{{ work.title }}</a>
      <span class="work__tags">
      {% for tag in work.tags %}
        {{ tag }}{% if forloop.last == false %},{% endif %}
      {% endfor %}
      </span>
    </li>
  {% endfor %}
</ul>