<!DOCTYPE HTML>
<head>

<title>{% if page.title %} {{ page.title }} - Martin Wright {% else %} Martin Wright - Web Designer from Shrewsbury {% endif %}</title>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="canonical" href="http://mynameismartin.com" />

<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{% if page.title %} {{ page.title }} - Martin Wright {% else %} Martin Wright - Web Designer from Shrewsbury {% endif %}" />
<meta property="og:description" content="{{ page.excerpt | strip_html }} - Martin Wright" />
<meta property="og:url" content="http://mynameismartin.com" />
<meta property="og:site_name" content="Martin Wright - Web Designer from Shrewsbury" />

<link rel='stylesheet' id='screen-css'  href='{{ site.baseurl }}/assets/css/main.css' type='text/css' media='all' />

<link href="https://fonts.googleapis.com/css?family=Inter:400,700&display=swap" rel="stylesheet"> 
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico"/>
</head>

<body class="{{ page.bodyclass }}"  id="{{ page.bodyid }}" >
 
  {% include header.html %}
  <article class="site-content">

    {{ content }}

  </article>
  {% include footer.html %}
</body>
</html>
